extends layout.pug

block content
  h1= title

  div
    table
      thead
        tr
          th Dagsetning
          th Kl
          th Sjónvarpsefni
          th Lengd
      tbody
        for item in channel
          tr
            td #{item.startTime.substring(5,10)}
            td #{item.startTime.substring(11,16)}
            td #{item.title}
            td #{item.duration.substring(0,1)}h #{item.duration.substring(2)}m
  br
  a(href='../../') Til baka
